.h1{
    font-size: 20px;
    margin: 30px;
    font-style: italic;
}

.container-image{
    width: 70%;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}
.img-app{
    width: 100%;
}

