.download-app{
    justify-content: center;
    width: auto;
    height: auto;
    display: grid;
}

.online-app {
    font-family: 'Anton', sans-serif;
    font-size: 180px;

}

.ENLACES-APP {
    justify-content: space-around;
}


.cuatro-pasos {
    font-family: 'Anton', sans-serif;
    font-size: 80px;