
.h1{
    font-size: 20px;
    margin: 30px;
    font-style: italic;
}
.contactanos-informacion {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.contactanos{
    padding: 40px;
}

.background1-left-column{
    background-color: linear-gradient(100deg, #21c8f6, rgb(199, 199, 199));
}

.background1-left-column{
    background-color: linear-gradient(100deg, #2196f6, rgb(156, 156, 156));
}

.iconos-redes{
    font-size: 25px;
    color:rgb(156, 156, 156);
    font-weight: bold;
}

a{
    text-decoration: none;
}