.h1{
    font-size: 20px;
    margin: 30px;
    font-style: italic;
}
footer{
    .barra-menu {

        border-radius: 80px;
        background-color: lightslategray;
        margin: 30px 30px 70px 30px;
    }
    
    .logo {
        width: 150px;
        height: 150px;
    }
}