.h1{
    font-size: 20px;
    margin: 30px;
    font-style: italic;
}
.container-productos{
    .nmc {
        font-family: 'Anton', sans-serif;
        font-size: 180px;
        color: black;
        text-align: center;
    
    }
}