

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }

 .h1{
    font-size: 20px;
    margin: 30px;
    font-style: italic;
}
.iconos-redes-footer{
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
}

 .frase-app {
    display: grid;
    text-align: center;
    justify-content: center;
    font-size: 160px;
    
}
a{
    text-decoration: none;
}



.app-100 {
    font-size: 130px;
    font-family: 'Anton', sans-serif;
    font-style: italic;
}

.online-app {
    font-family: 'Anton', sans-serif;
    font-size: 180px;
    font-style: italic;

}

.container-app{
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.card-app{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card-app:hover{
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 9);
    transform: translateY(-3%);
}

.card-app img{
    width: 100%;
    height: 160px;
}

.card-app .contenido{
    padding: 14px;
    text-align: center;

}

.card-app .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}
.card-app .contenido h2{
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 22px;
}
.card-app .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card-app .contenido a:hover{
    background-color: #2fb4cc;
    color: #fff;
}

@media(max-width: 1030px){
    .h1{
        font-size: 10px;
        margin: 30px;
        font-style: italic;
        
    }
}
@media(max-width: 450px){
    .h1{
        display: none;
    }
}

@media(max-width: 1030px){
    .container-app{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 1030px){
    .card-app img{
        width: 100%;
        height: 280px;
    }
}
@media(max-width: 820px){
    .card-app img{
        width: 100%;
        height: 500px;
    }
}

@media(max-width: 500px){
    .card-app img{
        width: 100%;
        height: 280px;
    }
}